In [1]:
#testing data
import pandas as pd

In [5]:
URL = 'http://opendata-cml.qart.pt/lastmeasurements'
#df = pd.read_json(URL, convert_dates = False)
#df

df = pd.read_json('http://opendata-cml.qart.pt/lastmeasurements')
df

,id,avg,date,dateStandard,value,unit,address,coordinates,directions
0,QA00NO0001,1h,1976-05-29 07:14:40.900,UTC,67.0,µg/m3,Calçada da Ajuda,"{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38....",NaN
1,QA0NO20001,1h,1976-05-29 07:14:40.900,UTC,59.0,µg/m3,Calçada da Ajuda,"{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38....",NaN
2,QA00O30001,1h,1976-05-29 07:14:40.900,UTC,51.0,µg/m3,Calçada da Ajuda,"{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38....",NaN
3,QAPM250001,1h,1976-05-29 07:14:40.900,UTC,6.0,µg/m3,Calçada da Ajuda,"{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38....",NaN
4,QAPM100001,1h,1976-05-29 07:14:40.900,UTC,17.0,µg/m3,Calçada da Ajuda,"{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38....",NaN
...,...,...,...,...,...,...,...,...,...
632,ME00HR0076,1h,1976-05-29 07:14:42.200,UTC,69.4,%,Restauradores - Avenida da Liberdade,"{'x': -87781.5819006, 'y': -105178.68474, 'z':...",NaN
633,METEMP0076,1h,1976-05-29 07:14:42.200,UTC,14.4,ºC,Restauradores - Avenida da Liberdade,"{'x': -87781.5819006, 'y': -105178.68474, 'z':...",NaN
634,CT0VTH0076,1h,1976-05-29 07:14:42.000,UTC,424.0,Veículos,Restauradores - Avenida da Liberdade,"{'x': -87781.5819006, 'y': -105178.68474, 'z':...",{'from-to': {'direction': 'Marques de Pombal -...
635,CT0VTH1027,1h,1976-05-29 07:14:42.000,UTC,4267.0,Veículos,Avenida Eng. Duarte Pacheco,"{'x': -88532.0078, 'y': -104119, 'z': 0, 'lat'...",{'from-to': {'direction': 'Viaduto Eng. Duarte...
636,CT0VTH1079,1h,1976-05-29 07:14:42.000,UTC,1351.0,Veículos,Avenida de Berlim,"{'x': -84666.8, 'y': -99295.3, 'z': 0, 'lat': ...",{'from-to': {'direction': 'Parque das Naçoes -...

In [14]:
import json
with open('http://opendata-cml.qart.pt/lastmeasurements') as f:
    data = json.loads(f.read())
    
    
df_url = pd.json_normalize(data, record_path =['coordinates'])
df_url

OSError: [Errno 22] Invalid argument: 'http://opendata-cml.qart.pt/lastmeasurements'

In [7]:
df_url = pd.json_normalize(data, record_path =['coordinates'])
df_url
data = json.loads(f.read())

NameError: name 'data' is not defined

In [7]:
df.iloc[1,7]

{'x': -92781, 'y': -106663, 'z': 0, 'lat': 38.70263097, 'lng': -9.199692206}

In [ ]:
len(str(text))

85

In [ ]:
df["date"]

0      202202071600
1      202202071600
2      202202071600
3      202202071600
4      202202071600
           ...
632    202202071500
633    202202071500
634    202202071400
635    202202071400
636    202202071400
Name: date, Length: 637, dtype: int64